<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://localhost:8080/favicon.ico" type="image/x-icon">
<link rel="icon" href="http://localhost:8080/favicon.ico" type="image/x-icon">
  <style>
    .navbar {
      background-color: #1E40AF;
      color: white;
    }
  </style>
</head>
<body>
<nav class="navbar p-4 flex justify-center">
  <span class="text-xl font-bold">Withus</span>
</nav>
<div class="container mx-auto mt-10 flex justify-center">
  <form id="loginForm" class="w-1/3">
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="loginId">
        아이디
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="loginId" name="loginId" type="text" placeholder="아이디">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        비밀번호
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="비밀번호">
    </div>
    <div class="flex items-center justify-between">
      <button id="loginBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        로그인
      </button>
      <button id="signupBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        회원가입
      </button>
    </div>
  </form>
</div>

<script>

  document.getElementById('loginBtn').addEventListener('click', function() {
    let loginId = document.getElementById('loginId').value;
    let password = document.getElementById('password').value;
    let formData = new FormData();
    let data = {
        "loginId" : loginId,
        "password" : password
    }
    formData.append('loginId', loginId);
    formData.append('password', password);
    fetch('http://localhost:8080/login', {
      method: 'POST',
        headers : {"Content-Type" : "application/json"},
      body: JSON.stringify(Object.fromEntries(formData))
    })
            .then(response => {
                console.log(response);
                if (!response.ok) {
                    // 만약 응답이 오류인 경우
                    return response.json().then(errorData => {
                        console.log(errorData)
                        // 오류 데이터를 JSON으로 변환하여 처리합니다.
                        throw new Error(errorData.content || 'Server Error');
                    });
                }else {
                    // location.href = "http://localhost:8080/user/main";
                    alert("로그인 성공");
                }
            })
            .catch(error => {
                console.log(error);
              alert(error);
            });
  });

  document.getElementById('signupBtn').addEventListener('click', function() {
    location.href="http://localhost:8080/signup"

  });
</script>
</body>
</html>
